#about {
    .container {
        .about-content {
            padding: 13.5% 0;
            .content {
                background-color: #f6f9ff;
                padding: 40px;
                h3{
                    font-family: $main-font;
                    font-size: 14px;
                    font-weight: 700;
                    color: $main-color;
                    text-transform: uppercase;
                }
                h2{
                    font-size: 24px;
                    font-weight: 700;
                    color: $logo-color;
                }
                div{
                    a{
                        line-height: 0;
                        padding: 17px 32px;
                        border-radius: 4px;
                        color: #fff;
                        background: $main-color;
                        box-shadow: 0px 5px 25px rgba(33, 62, 196, 0.3);
                    }
                }
            }
        }

        .about-img {
            padding: 7% 2% 5% 0;

            img {
                width: 100%;
            }
        }
    }
}