#blog {
    padding: 0 0 5% 0;
    .container {
        @include section-content;
    }

    .row {
        .col-4 {
            .post-box {
                box-shadow: $shadow;
                height: 100%;
                // padding: 30px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;


                .post-img {
                    img {
                        width: 100%;
                        border-radius: 8px;
                    }
                }

                .post-content {
                    padding: 5%;

                    .post-date {
                        font-family: $main-font;
                        font-size: 17px;
                        font-weight: 600;
                        color: rgba(1, 41, 112, 0.6);
                        padding: 0% 1%;
                    }

                    h3 {
                        font-family: $main-font;
                        font-size: 24px;
                        color: $logo-color;
                        font-weight: 700;
                        margin-bottom: 18px;
                        padding: 1% 1%;
                    }

                    a {
                        font-weight: 600;
                        font-size: 16px;
                        padding: 8px 0px;
                        text-decoration: none;
                        padding: 0% 1%;

                        span {
                            color: #0d6efd;
                        }

                        i {
                            color: #0d6efd;
                            line-height: 0;
                            margin-left: 5px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}