#contact {
    .container {
        .contact-wrapper {
            @include section-content
        }

        .row {
            .col-6 {
                .row {
                    .info-box {
                        color: #444444;
                        background: #fafbff;
                        padding: 30px;
                        margin: 2%;
                        width: 46%;

                        i {
                            font-size: 38px;
                            line-height: 0;
                            color: $main-color;
                        }

                        h3 {
                            font-family: $main-font;
                            font-size: 20px;
                            color: $logo-color;
                            font-weight: 700;
                            margin: 20px 0 10px 0;
                        }

                        p {
                            font-family: $main-font;
                            padding: 0;
                            line-height: 24px;
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .col-6 {
                .row {
                    form {
                        background: #fafbff;
                        padding: 30px;
                        height: 100%;
                        margin: 2%;

                        .row {
                            .col-12 {
                                button {
                                    background: $main-color;
                                    padding: 10px 30px;
                                    color: #fff;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}