footer {
    background: #f6f9ff;

    .footer-newslatter {
        padding: 50px 0;
        border-top: 1px solid #e1ecff;

        .container {
            display: flex;
            align-items: center;
            flex-direction: column;

            .content {

                h4 {
                    font-family: $main-font;
                    font-size: 24px;
                    margin: 0 0 10px 0;
                    padding: 0;
                    line-height: 1;
                    font-weight: 700;
                    color: $logo-color;
                    text-align: center;
                }

                p {
                    font-family: $main-font;
                    margin-top: 0;
                    margin-bottom: 1rem;
                    padding: 0 8%;
                }
            }

            div {
                width: 50%;

                form {
                    margin-top: 20px;
                    background: #fff;
                    padding: 3px 1px 3px 9px;
                    border-radius: 4px;
                    border: 1px solid #e1ecff;

                    .email {
                        border: 0;
                        padding: 1% 25%;
                    }

                    .submit {
                        font-size: 16px;
                        padding: 7px 30px;
                        background: #4154f1;
                        color: #fff;
                        border-radius: 4px;
                        // margin-left: 48%;
                    }
                }
            }
        }
    }

    .footer-top {
        background: white url(../images/footer-bg.png) no-repeat right top;
        background-size: contain;
        border-top: 1px solid #e1ecff;
        border-bottom: 1px solid #e1ecff;
        padding: 60px 0 40px 0;

        .container {
            .row {
                .col-5 {
                    @include logo;

                    p {
                        font-family: $main-font;
                        font-size: 14px;
                        line-height: 24px;
                        margin-top: 3%;
                    }

                    .social-media-links {
                        margin-top: 1%;

                        a {
                            font-size: 20px;
                            color: rgba(1, 41, 112, 0.5);
                            line-height: 0;
                            margin-right: 10px;
                        }
                    }
                }

                .col-2 {
                    h4 {
                        font-family: $main-font;
                        font-size: 16px;
                        font-weight: bold;
                        color: #012970;
                        text-transform: uppercase;
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            padding: 5px 0;

                            i {
                                padding-right: 2px;
                                color: #d0d4fc;
                                font-size: 12px;
                            }

                            a {
                                color: $link-color;
                                transition: 0.3s;
                                display: inline-block;
                                text-decoration: none;
                            }
                        }
                    }
                }

                .col-3 {
                    h4 {
                        font-family: $main-font;
                        font-size: 16px;
                        font-weight: bold;
                        color: #012970;
                        text-transform: uppercase;
                    }

                    p {
                        font-family: $main-font;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: 2% 0 2% 0;

        .container {
            .content {
                display: flex;
                align-items: center;
                flex-direction: column;

                .first-title {
                    font-family: $main-font;
                    margin-bottom: 0;
                    text-align: center;
                    font-size: 14px;
                    color: $logo-color;
                }

                .second-title {
                    font-family: $main-font;
                    margin-bottom: 0;
                    padding-top: 10px;
                    text-align: center;
                    font-size: 13px;
                    color: $logo-color;
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}   