#intro {
    width: 100%;
    height: 100vh;
    background: url(../images/hero-bg.png) top center no-repeat;
    background-size: cover;

    .container {
        .intro-wrapper {
            .intro-content {
                display: flex;
                justify-content: center;
                flex-direction: column;
                padding-right: 8%;

                h1 {
                    margin: 0;
                    font-family: $main-font;
                    font-size: 48px;
                    font-weight: 700;
                    color: $logo-color;
                }

                h2 {
                    font-family: $main-font;
                    color: #444444;
                    margin: 15px 0 0 0;
                    font-size: 26px;
                }
                div{
                    a{
                        margin-top: 30px;
                        line-height: 0;
                        padding: 15px 40px;
                        border-radius: 4px;
                        color: #fff;
                        background: $main-color;
                        box-shadow: 0px 5px 25px rgba(33, 62, 196, 0.3);
                    }
                }
            }
        }
    }
}