@mixin logo {
    a {
        line-height: 0;
        text-decoration: none;

        img {
            max-height: 40px;
            margin-right: 6px;
        }

        span {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 1px;
            color: #012970;
            font-family: $main-font;
            margin-top: 3px;
        }
    }
}

@mixin count-box($color) {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: $shadow;

    i {
        font-size: 42px;
        line-height: 0;
        margin-right: 20px;
        color: $color;
    }

    div {
        p {
            padding: 0;
            margin: 0;
            font-family: $main-font;
            font-size: 14px;
        }
    }
}

@mixin responsive-count-box($color) {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: $shadow;

    i {
        font-size: 42px;
        line-height: 0;
        margin-right: 20px;
        color: $color;
    }

    div {
        p {
            padding: 0;
            margin: 0;
            font-family: $main-font;
            font-size: 14px;
        }
    }
}

@mixin section-content {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4%;

        h2 {
            font-family: $main-font;
            font-size: 13px;
            font-weight: 700;
            margin: 0;
            color: $main-color;
            text-transform: uppercase;
        }

        p {
            font-family: $main-font;
            margin: 10px 0 0 0;
            padding: 0;
            font-size: 38px;
            line-height: 42px;
            font-weight: 800;
            color: $logo-color;
        }
    }
}

@mixin responsive-section-content {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4%;

        h2 {
            font-family: $main-font;
            font-size: 13px;
            font-weight: 700;
            margin: 0;
            color: $main-color;
            text-transform: uppercase;
        }

        p {
            font-family: $main-font;
            margin: 10px 0 0 0;
            padding: 0;
            font-size: 38px;
            line-height: 42px;
            font-weight: 800;
            text-align: center;
            color: $logo-color;
        }
    }
}

@mixin responsive-mobile-section-content {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;

        h2 {
            font-family: $main-font;
            font-size: 13px;
            font-weight: 700;
            margin: 0;
            color: $main-color;
            text-transform: uppercase;
        }

        p {
            font-family: $main-font;
            margin: 10px 0 0 0;
            padding: 0;
            font-size: 28px;
            line-height: 42px;
            font-weight: 800;
            text-align: center;
            color: $logo-color;
        }
    }
}

@mixin service-box($color, $background-color) {
    border-bottom: 3px solid $color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 9% 14%;
    box-shadow: $shadow;
    margin-top: 5%;

    div {
        i {
            font-size: 36px;
            padding: 40px 20px;
            border-radius: 4px;
            margin-bottom: 25px;
            line-height: 0;
            color: $color;
            background: $background-color;
        }
    }

    h3 {
        font-family: $main-font;
        color: #444444;
        font-weight: 700;
    }

    p {
        font-family: $main-font;
        text-align: center;
    }

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        padding: 8px 20px;
        text-decoration: none;

        span {
            color: $color;
        }

        i {
            color: $color;
            line-height: 0;
            margin-left: 5px;
            font-size: 18px;
        }
    }

    &:hover {
        background-color: $color;

        div {
            i {
                color: $color;
                background: #fff;
            }
        }

        h3 {
            color: #fff;
        }

        p {
            color: #fff;
        }

        a {
            span {
                color: #fff;
            }

            i {
                color: #fff;
            }
        }
    }
}

@mixin responsive-service-box($color, $background-color) {
    border-bottom: 3px solid $color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 9% 14%;
    box-shadow: $shadow;
    margin-top: 5%;

    div {
        i {
            font-size: 36px;
            padding: 40px 20px;
            border-radius: 4px;
            margin-bottom: 25px;
            line-height: 0;
            color: $color;
            background: $background-color;
        }
    }

    h3 {
        font-family: $main-font;
        color: #444444;
        font-weight: 700;
    }

    p {
        font-family: $main-font;
        text-align: center;
    }

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 16px;
        padding: 8px 20px;
        text-decoration: none;

        span {
            color: $color;
        }

        i {
            color: $color;
            line-height: 0;
            margin-left: 5px;
            font-size: 18px;
        }
    }

    &:hover {
        background-color: $color;

        div {
            i {
                color: $color;
                background: #fff;
            }
        }

        h3 {
            color: #fff;
        }

        p {
            color: #fff;
        }

        a {
            span {
                color: #fff;
            }

            i {
                color: #fff;
            }
        }
    }
}

@mixin pricing-box($color) {
    width: 23%;
    margin: 0 1%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: $shadow;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    h3 {
        font-family: $main-font;
        color: $color;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .price {
        font-size: 36px;
        color: #444444;
        font-weight: 600;
        font-family: $price-font;

        sup {
            font-size: 20px;
            top: -15px;
            left: -3px;
        }

        span {
            color: #bababa;
            font-size: 16px;
            font-weight: 300;
        }
    }

    .box-img {
        padding: 10% 17%;

        img {
            width: 100%;
        }
    }

    ul {
        padding: 0;
        list-style: none;
        color: #444444;
        text-align: center;
        line-height: 26px;
        font-size: 16px;
        margin-bottom: 25px;

        li {
            padding-bottom: 10px;
        }
    }

    a {
        display: inline-block;
        padding: 8px 40px 10px 40px;
        border-radius: 50px;
        color: #4154f1;
        font-size: 16px;
        font-weight: 400;
        font-family: $price-font;
        border: 1px solid #4154f1;
        text-decoration: none;
    }
}

@mixin responsive-pricing-box($color) {
    width: 48%;
    margin: 0 0 2% 2%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: $shadow;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    h3 {
        font-family: $main-font;
        color: $color;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .price {
        font-size: 36px;
        color: #444444;
        font-weight: 600;
        font-family: $price-font;

        sup {
            font-size: 20px;
            top: -15px;
            left: -3px;
        }

        span {
            color: #bababa;
            font-size: 16px;
            font-weight: 300;
        }
    }

    .box-img {
        padding: 10% 17%;

        img {
            width: 100%;
        }
    }

    ul {
        padding: 0;
        list-style: none;
        color: #444444;
        text-align: center;
        line-height: 26px;
        font-size: 16px;
        margin-bottom: 25px;

        li {
            padding-bottom: 10px;
        }
    }

    a {
        display: inline-block;
        padding: 8px 40px 10px 40px;
        border-radius: 50px;
        color: #4154f1;
        font-size: 16px;
        font-weight: 400;
        font-family: $price-font;
        border: 1px solid #4154f1;
        text-decoration: none;
    }
}

@mixin responsive-mobile-pricing-box($color) {
    width: 100%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: $shadow;
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    h3 {
        font-family: $main-font;
        color: $color;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .price {
        font-size: 36px;
        color: #444444;
        font-weight: 600;
        font-family: $price-font;

        sup {
            font-size: 20px;
            top: -15px;
            left: -3px;
        }

        span {
            color: #bababa;
            font-size: 16px;
            font-weight: 300;
        }
    }

    .box-img {
        padding: 10% 17%;

        img {
            width: 100%;
        }
    }

    ul {
        padding: 0;
        list-style: none;
        color: #444444;
        text-align: center;
        line-height: 26px;
        font-size: 16px;
        margin-bottom: 25px;

        li {
            padding-bottom: 10px;
        }
    }

    a {
        display: inline-block;
        padding: 8px 40px 10px 40px;
        border-radius: 50px;
        color: #4154f1;
        font-size: 16px;
        font-weight: 400;
        font-family: $price-font;
        border: 1px solid #4154f1;
        text-decoration: none;
    }
}