#pricing {
    .container {
        .pricing-wrapper {
            @include section-content;
        }

        .row {
            .box1 {
                @include pricing-box(#07d5c0);

            }

            .box2 {
                @include pricing-box(#65c600);

                .featured {
                    width: 200px;
                    position: absolute;
                    top: 18px;
                    right: -68px;
                    transform: rotate(45deg);
                    z-index: 1;
                    font-size: 14px;
                    padding: 1px 0 3px 0;
                    background: $main-color;
                    color: #fff;
                }
            }

            .box3 {
                @include pricing-box(#ff901c);
            }

            .box4 {
                @include pricing-box(#ff0071);
            }
        }
    }
}