@import "./shared";
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./header";
@import "./intro";
@import "./about";
@import "./values"; 
@import "./counts";
@import "./features";
@import "./services";
@import "./pricing";
@import "./faq";
@import "./blogs";
@import "./contact";
@import "./footer";
@import "./scroll-up";
@import "./responsive";